version: '3.6'

services:
  nginx:
    image: nginx:latest
    container_name: ${APP_NAME}.nginx
    ports:
      - '${NGINX_HTTP_PORT}:${NGINX_HTTP_PORT}'
      - '${NGINX_HTTPS_PORT}:${NGINX_HTTPS_PORT}'
    volumes:
      - ./nginx/default.conf:/tmp/default.template:rw
      - ./src/${APP_NAME}:/var/www/html:rw
      - ./certs:/etc/certs
    depends_on:
      - wordpress
    restart: always
    entrypoint: /bin/bash -c 'cat /tmp/default.template | sed "s/\\\$$domain/${DOMAIN}/g" | sed "s/\\\$$nginx_http_port/${NGINX_HTTP_PORT}/g" | sed "s/\\\$$nginx_https_port/${NGINX_HTTPS_PORT}/g" > /etc/nginx/conf.d/default.conf && nginx -g "daemon off;"'

  mysql:
    image: mariadb:latest
    container_name: ${APP_NAME}.mysql
    volumes:
      - './data/db:/var/lib/mysql:delegated'
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    restart: always
    ports:
      - '${MYSQL_PORT}:3306'

  wordpress:
    build:
      context: ./wordpress
      dockerfile: Dockerfile
    container_name: ${APP_NAME}-wordpress
    restart: always
    user: ${CONTAINER_USER}
    depends_on:
      - mysql
    volumes:
      - ./src/${APP_NAME}:/var/www/html:rw
      - ./config/php.ini:/usr/local/etc/php/conf.d/php.ini
    #    ports:
    #      # Expose XDebug debugger
    #      - '${XDEBUG_PORT}:9042'
    environment:
      XDEBUG_CONFIG: "idekey=PHPSTORM remote_host=192.168.0.11 profiler_enable=1"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: ${APP_NAME}-phpmyadmin
    volumes:
      - ./config/phpmyadmin.ini:/usr/local/etc/php/conf.d/phpmyadmin.ini
    environment:
      PMA_HOST: "${DB_HOST}"
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
    ports:
      - '${PHPMYADMIN_PORT}:80'
    links:
      - mysql:mysql

  composer:
    build:
      context: ./composer
      dockerfile: Dockerfile
    container_name: ${APP_NAME}-composer
    working_dir: /var/www/html
    restart: 'no'
    user: ${CONTAINER_USER}
    volumes:
      - ./src/${APP_NAME}:/var/www/html:rw
      - cache-data:/tmp:cached

volumes:
  cache-data:

